@model Schedule.DAL.Entities.ClientProfile
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";
}

<h2>Profile</h2>

<p>Empty</p>

@*<p>@Model.Name</p>
<p>@Model.Surname</p>
<p>@Model.Age</p>*@
