@{
    ViewBag.Title = Schedule.Resources.HomeTexts.Feedback;
}

<h2>@Schedule.Resources.HomeTexts.Feedback</h2>

<p>In you find any issues or want to help us, you can contact us.</p>

<form method="post" action="" id="frmFeedback">
    <label class="control-label">Your name:</label>
    <input type="text" class="form-control" id="tbName" required />
    <br />
    <label class="control-label">Message:</label>
    <textarea cols="30" rows="5" id="tbMessage" class="form-control" required></textarea>
    <p><input type="submit" class="btn btn-default" value="Send" id="btnSend"/></p>
</form>


@Scripts.Render("~/bundles/jquery")
<script type="text/javascript" src="~/Scripts/Custom/Feedback.js"></script>
