@{ 
    ViewBag.Title = Schedule.Resources.HomeTexts.Calendar;
}
<!-- JavaScript -->
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/alertify.min.js"></script>

<!-- CSS -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/alertify.min.css" />
<!-- Default theme -->
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/themes/default.min.css" />

<link rel="stylesheet" href="~/Content/Calendar.css" />
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/Custom/FullCal.js"></script>


<div id="calendar"></div>

