
@{
    Layout = "~/Views/Shared/_NewsLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Authorize Faild</title>
</head>
<body>
    <div> 
		You don't have permission to access this page!
    </div>
</body>
</html>
