@model List<Schedule.BLL.Model.NewsViewModelItem>
@using Schedule.Helpers;

@{
    ViewBag.Title = "News Panel";
}

<hr />
<a class="btn btn-default" href="@Url.Action("Create", "News")"><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-font"></span></a>
<button class="btn btn-default" id="btn-edit"><span class="glyphicon glyphicon-edit"></span></button>
<button class="btn btn-default " id="btn-delete"><span class="glyphicon glyphicon-trash"></span></button>
<hr />
@Styles.Render("~/Content/panelCss")
@Scripts.Render("~/Scripts/panelScripts")

<table class="table table-bordered table-hover" id="myTable">
    <thead style="font-weight: bold; font-size: 18px">
        <tr>
            <td style="width: 10px">Id</td>
            <td style="width: 200px">Title</td>
            <td>Article</td>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>


<script type="text/javascript" src="~/Scripts/Custom/Panel.js"></script>