.wc-grid-timeslot-header,
.wc-header .wc-time-column-header {
    width: 70px !important;
}

.wc-time-header-cell {
    padding-right: 15px !important;
    margin: 0 auto !important;    
}

.ui-corner-all{
    margin-top: 0px;
}

    body {
        margin: 40px 10px;
        padding: 0;
        font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
        font-size: 14px;
    }

    #calendar {
        max-width: 600px;
        margin: 0 auto;
    }